body {
  background: rgb(32, 32, 32);
  color: whitesmoke;
  overflow-y: hidden;
  text-shadow: 2px 2px 100px rgba(245, 92, 118, 0.822);
}

.heading {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0,0,0,.1);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 7rem;
  background: linear-gradient(60deg, rgb(245, 92, 117), yellow, rgb(125, 31, 202), red, green);
}

.App {
  text-align: center;
}

div {
  padding: 2rem;
}

select {
  color: rgb(32, 32, 32);
  padding: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.div-select {
  display: flex;
  justify-content: center;
}

.div-trans {
  display: flex;
  justify-content: center;
}

textarea {
  font-size: 20 px;
}

button {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background: whitesmoke;
  color: rgb(32, 32, 32);
  border: none;
  padding: 2rem;
  cursor: pointer;
}

button :hover {
  background: blue;
}